# Diretórios de dependências
node_modules/

# Variáveis de Ambiente
.env*
!.env.example # Se você tiver um arquivo .env.example que deve ser versionado

# Saídas de Build
dist/
build/

# Configurações de IDEs/OS (opcional)
.vscode/
.DS_Store
Thumbs.db